<div ng-controller="automatCtrl">
		<div class="row">
			<div class="col-md-12">
				<h2 translate>AUTOMAT</h2>
			</div>
			<div class="col-md-12">
				<h3 translate>INFORMATIONS</h2>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-2">
				<p translate>PRICE</p>
			</div>
			<div class="col-md-2">
				<p ng-hide="isError">{{'CURRENT_STATE' | translate}} {{currentState}}</p>
				<p ng-show="isError" class="text-danger">{{'INCORRECT_STATE' | translate}} {{currentState}}</p>
			</div>
			<div class="col-md-3">
				<p ng-hide="isError">{{'MONEY_IN_MACHINE' | translate}} {{sumPrice}} {{'PLN' | translate}}</p>
				<p ng-show="isError" class="text-danger" translate>ERROR</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<p>{{'INSERT_COIN' | translate}}
					<input class="btn btn-default" type="button" value="0.5" ng-click="dodajDoCeny(0.5)" ng-disabled="isTooMuch1"/>
					<input class="btn btn-default" type="button" value="1" ng-click="dodajDoCeny(1)" ng-disabled="isTooMuch2"/>
					<input class="btn btn-default" type="button" value="2" ng-click="dodajDoCeny(2)" ng-disabled="isTooMuch3"/>
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<p>{{'MACHINE_RESET' | translate}}
					<input class="btn btn-default" type="button" value="{{'CLEAR' | translate}}" ng-click="reset()"/>
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h3 translate>COINS_IN_MACHINE</h3>
			</div>
			<div ng-repeat="message in messages track by $index" class="col-md-12">
				<p class="text-success">{{message}} {{'PLN' | translate}}</p>
			</div>
		</div>
</div>