<div ng-controller="expressionCtrl">
		<div class="row">
			<div class="col-md-12">
				<h2 translate>&nbsp;REGULAR_EXPRESSION</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-1">
				<form>
					<div class="form-group">
						<label for="exampleGramatyka" translate>GRAMMAR</label>
						<textarea class="form-control" ng-model="data.gramatyka" rows="5"></textarea>
					</div>
					<button type="submit" class="btn btn-default" ng-click="utworzWyrazenie()" translate>CREATE_EXPRESSION</button>
					<button type="submit" class="btn btn-default" ng-click="utworzPierwsze()" translate>DESIGNATE_FIRST</button>
					<button type="submit" class="btn btn-default" ng-disabled="!czyPierwsze" ng-click="utworzNastepne()" translate>DESIGNATE_NEXT</button>
					<button type="submit" class="btn btn-default" ng-disabled="!czyPierwsze" ng-click="sprawdzIRegule()" translate>FIRST_RULE</button>
					<button type="submit" class="btn btn-default" ng-disabled="!czyNastepne" ng-click="sprawdzIIRegule()" translate>SECOND_RULE</button>
					</br>
					</br>
					
					<div class="form-group" ng-show="czyPierwsze">
						<label for="pierwsze" translate>FIRST</label>
						<textarea class="form-control" rows="6" ng-model="pierwsze"></textarea>
					</div>
					<div class="form-group" ng-show="czyNastepne">
						<label for="nastepne" translate>NEXT</label>
						<textarea class="form-control" rows="6" ng-model="nastepne"></textarea>
					</div>
					<div class="form-group" ng-show="czyRegula1">
						<label for="regulaA" translate>FIRST_RULE</label>
						<textarea class="form-control" rows="6" ng-model="regulaA"></textarea>
					</div>
					<div class="form-group" ng-show="czyRegula2">
						<label for="regulaB" translate>SECOND_RULE</label>
						<textarea class="form-control" rows="6" ng-model="regulaB"></textarea>
					</div>
					<div ng-show="czyWyrazenie">
						<div class="form-group">
							<label for="exampleWyrazenie" translate>EXPRESSION</label>
							<input type="text" class="form-control" id="wyrazenie" ng-model="data.wyjsciowaGramatyka" placeholder="Wprowad&#378; wyra&#380;enie">
						</div>
						<div class="form-group">
							<label for="exampleZdanie" translate>SENTENCE</label>
							<input type="text" class="form-control" id="zdanie" ng-model="data.zdanie" placeholder="Wprowad&#378; zdanie do sprawdzenia">
						</div>
					</div>
					<button type="submit" class="btn btn-default" ng-click="sprawdzCzyNalezy()" ng-show="czyWyrazenie">Sprawd&#378;</button>
					<button type="submit" class="btn btn-default" ng-click="resetPol()" translate>RESET</button>
				</form>
			</div>
		</div>
		</br>
		<div class="row" ng-show="czyWyrazenie">
			<div class="col-md-4 col-md-offset-1">
				<p ng-if="data.wynik === 'tak'" class="text-success">Pasuje do wyra&#380;enia</p>
				<p ng-if="data.wynik === 'nie'" class="text-danger">Nie pasuje do wyra&#380;enia</p>
			</div>
		</div>
		<div class="row" ng-show="czyWyrazenie">
			<div class="col-md-12">
				<h3>&nbsp;Historia</h3>
			</div>
			<div class="row">
				<div class="col-md-12">
					<table class="table">
						<thead>
							<tr>
								<th>ID</th>
								<th>Wyra&#380;enie</th>
								<th>Gramatyka</th>
								<th>Zdanie</th>
								<th>Czy pasuje</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="x in historia track by $index">
								<td>{{ $index }}</td>
								<td>{{ x.wyrazenie }}</td>
								<td>{{ x.gramatyka }}</td>
								<td>{{ x.zdanie}}</td>
								<td >{{ x.wynik}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
</div>